doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Twitter clone | Login
    link(rel="stylesheet" href="/css/login.css")
  body
    .login-container
        h1.login-title Login
        form.login-form(action="/login" method="POST")
            .input-group
                label(for="username") Username
                input(type="text" id="username" name="username" required)
            .input-group
                label(for="password") Password
                input(type="password" id="password" name="password" required)
            button(type="submit" class="btn login-btn") Login
        a(href='/signup')
            button(class="btn register-btn") Signup
